
<div id="contentContainer">
    <ul id='pastaContainer'>
        <li class='pasta'>
            <img src = '../../assets/scp.jpg' class='pastaImg'/>
            <div class="avatar"></div>
            <div class="desc">
             <h2>Random Title vol.1</h2>   
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="likeBox">
                <div class="likes">1</div>
                <div class="likes">2</div>
            </div>
             <div class="description">Lorem ipsum dolor sit amet,
             consectetur adipiscing elit. Etiam nibh enim, mollis
             quis dolor non, commodo laoreet enim. Sed vitae risus
             in enim vulputate condimentum. Donec cursus vehicula
             fringilla. Mauris ullamcorper felis lacinia, tincidunt
             ante nec, viverra lorem. Cras egestas nibh velit, sit
             amet laoreet odio mattis vitae. Duis ut turpis nulla.
             Praesent eget aliquet erat. Vivamus metus nunc, porttitor
              vel dui sit amet, efficitur maximus ligula. Praesent 
              eleifend fringilla neque, ut ullamcorper est sollicitudin 
              sit amet. Etiam vel velit sapien. Donec rutrum, ipsum et 
              volutpat fringilla, enim tellus porta tortor, id vulputate 
              odio eros ullamcorper felis. Fusce nulla orci, auctor a vehicula
               eu, tincidunt in nibh. Sed nec venenatis lacus. Vivamus sed risus
             
             </div>
             <p class='readMore'>Czytaj dalej</p>
         </li>
         <li class='pasta'>
             <img src = '../../assets/scp.jpg' class='pastaImg'/>
             <div class="avatar"></div>
            <div class="desc">
             <h2>Random Title vol.1</h2>   
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="likeBox">
                <div class="likes">1</div>
                <div class="likes">2</div>
            </div>
             <div class="description">Lorem ipsum dolor sit amet,
             consectetur adipiscing elit. Etiam nibh enim, mollis
             quis dolor non, commodo laoreet enim. Sed vitae risus
             in enim vulputate condimentum. Donec cursus vehicula
             fringilla. Mauris ullamcorper felis lacinia, tincidunt
             ante nec, viverra lorem. Cras egestas nibh velit, sit
             amet laoreet odio mattis vitae. Duis ut turpis nulla.
             Praesent eget aliquet erat. Vivamus metus nunc, porttitor
              vel dui sit amet, efficitur maximus ligula. Praesent 
              eleifend fringilla neque, ut ullamcorper est sollicitudin 
              sit amet. Etiam vel velit sapien. Donec rutrum, ipsum et 
              volutpat fringilla, enim tellus porta tortor, id vulputate 
              odio eros ullamcorper felis. Fusce nulla orci, auctor a vehicula
               eu, tincidunt in nibh. Sed nec venenatis lacus. Vivamus sed risus
               
             </div>
             <p class='readMore'>Czytaj dalej</p>
         </li>
         <li class='pasta'>
             <img src = '../../assets/scp.jpg' class='pastaImg'/>
             <div class="avatar"></div>
            <div class="desc">
             <h2>Random Title vol.1</h2>   
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="likeBox">
                <div class="likes">1</div>
                <div class="likes">2</div>
            </div>
             <div class="description">Lorem ipsum dolor sit amet,
             consectetur adipiscing elit. Etiam nibh enim, mollis
             quis dolor non, commodo laoreet enim. Sed vitae risus
             in enim vulputate condimentum. Donec cursus vehicula
             fringilla. Mauris ullamcorper felis lacinia, tincidunt
             ante nec, viverra lorem. Cras egestas nibh velit, sit
             amet laoreet odio mattis vitae. Duis ut turpis nulla.
             Praesent eget aliquet erat. Vivamus metus nunc, porttitor
              vel dui sit amet, efficitur maximus ligula. Praesent 
              eleifend fringilla neque, ut ullamcorper est sollicitudin 
              sit amet. Etiam vel velit sapien. Donec rutrum, ipsum et 
              volutpat fringilla, enim tellus porta tortor, id vulputate 
              odio eros ullamcorper felis. Fusce nulla orci, auctor a vehicula
               eu, tincidunt in nibh. Sed nec venenatis lacus. Vivamus sed risus
               
             </div>
             <p class='readMore'>Czytaj dalej</p>
         </li>
         <li class='pasta'>
             <img src = '../../assets/scp.jpg' class='pastaImg'/>
             <div class="avatar"></div>
            <div class="desc">
             <h2>Random Title vol.1</h2>   
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="likeBox">
                <div class="likes">1</div>
                <div class="likes">2</div>
            </div>
             <div class="description">Lorem ipsum dolor sit amet,
             consectetur adipiscing elit. Etiam nibh enim, mollis
             quis dolor non, commodo laoreet enim. Sed vitae risus
             in enim vulputate condimentum. Donec cursus vehicula
             fringilla. Mauris ullamcorper felis lacinia, tincidunt
             ante nec, viverra lorem. Cras egestas nibh velit, sit
             amet laoreet odio mattis vitae. Duis ut turpis nulla.
             Praesent eget aliquet erat. Vivamus metus nunc, porttitor
              vel dui sit amet, efficitur maximus ligula. Praesent 
              eleifend fringilla neque, ut ullamcorper est sollicitudin 
              sit amet. Etiam vel velit sapien. Donec rutrum, ipsum et 
              volutpat fringilla, enim tellus porta tortor, id vulputate 
              odio eros ullamcorper felis. Fusce nulla orci, auctor a vehicula
               eu, tincidunt in nibh. Sed nec venenatis lacus. Vivamus sed risus
               
             </div>
             <p class='readMore'>Czytaj dalej</p>
          </li>
          <li class='pasta'>
             <img src = '../../assets/scp.jpg' class='pastaImg'/>
             <div class="avatar"></div>
            <div class="desc">
             <h2>Random Title vol.1</h2>   
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="likeBox">
                <div class="likes">1</div>
                <div class="likes">2</div>
            </div>
             <div class="description">Lorem ipsum dolor sit amet,
             consectetur adipiscing elit. Etiam nibh enim, mollis
             quis dolor non, commodo laoreet enim. Sed vitae risus
             in enim vulputate condimentum. Donec cursus vehicula
             fringilla. Mauris ullamcorper felis lacinia, tincidunt
             ante nec, viverra lorem. Cras egestas nibh velit, sit
             amet laoreet odio mattis vitae. Duis ut turpis nulla.
             Praesent eget aliquet erat. Vivamus metus nunc, porttitor
              vel dui sit amet, efficitur maximus ligula. Praesent 
              eleifend fringilla neque, ut ullamcorper est sollicitudin 
              sit amet. Etiam vel velit sapien. Donec rutrum, ipsum et 
              volutpat fringilla, enim tellus porta tortor, id vulputate 
              odio eros ullamcorper felis. Fusce nulla orci, auctor a vehicula
               eu, tincidunt in nibh. Sed nec venenatis lacus. Vivamus sed risus
               
             </div>
             <p class='readMore'>Czytaj dalej</p>
          </li>
          <li class='pasta'>
             <img src = '../../assets/scp.jpg' class='pastaImg'/>
             <div class="avatar"></div>
            <div class="desc">
             <h2>Random Title vol.1</h2>   
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="likeBox">
                <div class="likes">1</div>
                <div class="likes">2</div>
            </div>
             <div class="description">Lorem ipsum dolor sit amet,
             consectetur adipiscing elit. Etiam nibh enim, mollis
             quis dolor non, commodo laoreet enim. Sed vitae risus
             in enim vulputate condimentum. Donec cursus vehicula
             fringilla. Mauris ullamcorper felis lacinia, tincidunt
             ante nec, viverra lorem. Cras egestas nibh velit, sit
             amet laoreet odio mattis vitae. Duis ut turpis nulla.
             Praesent eget aliquet erat. Vivamus metus nunc, porttitor
              vel dui sit amet, efficitur maximus ligula. Praesent 
              eleifend fringilla neque, ut ullamcorper est sollicitudin 
              sit amet. Etiam vel velit sapien. Donec rutrum, ipsum et 
              volutpat fringilla, enim tellus porta tortor, id vulputate 
              odio eros ullamcorper felis. Fusce nulla orci, auctor a vehicula
               eu, tincidunt in nibh. Sed nec venenatis lacus. Vivamus sed risus
               
             </div>
             <p class='readMore'>Czytaj dalej</p>
          </li>
    </ul>
 </div>