<div class="container">
    <div id="letterCircle"><fa-icon [icon]="faText"></fa-icon></div>
    <div id="messages">
        <div class="row">
            <div class="col-12 h1">Poczta</div>
        <span style='width: 100vw;height: 5px; background-color: #8F1818;margin-bottom: 15px;'></span><br>
            <div class="col-12"><fa-icon [icon]="faEnvelope"></fa-icon> uno</div>
            <div class="col-12"><fa-icon [icon]="faEnvelope"></fa-icon> uno</div>
            <div class="col-12"><fa-icon [icon]="faEnvelope"></fa-icon> uno</div>
        </div>
    </div>
</div>