@import "../../scss/_mixins.scss";
@import "../../scss/_placeholders.scss";
@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');//topPasta - slider z najlepszymi pastami

.container{
    @include bodyBuilder(70%, 90%);
    background-color: rgb(49, 21, 21);
    margin-top:4vh;
    padding: 15px;
    border:5px solid #720202;
    border-radius: 20px;
    position: relative;
    padding: 5%;
    font-family: 'Risque', cursive;
    letter-spacing: 2px;
    #letterCircle{
        position: absolute;
        top:-1.5rem;
        left:-1;
        @include bodyBuilder(6rem, 6rem);
        background-color: #601313;
        border-radius: 50px;
        border:5px solid #720202;
        color:red;
        @extend %flexCenter;
        font-size: 2.7rem;
        
    }
    .col-12:first-child{
        @include bodyBuilder(100%, 3%);
        text-align: center;

    }
    
    .col-12:not(:first-child){
        font-size: 1.5rem;
        cursor: pointer;
        &:hover{
            background-color:#302121;
        }
    }

}
