// $expandedMenuBg: #530808e8;
$expandedMenuBg: #695A5A;
$firstColor:#BD2020;
$secondColor:#030000;
$thirdColor: #1D1919;
$fourthColor: #4F2525;
$fifthColor: #9C1A1A;

//Whole page BG:
$backBg: #1d1919;

// headerBG
$headerBg: #332933;

//loginCard
$loginHR:rgb(29, 0, 0);
$loginBG:11deg, rgba(2,0,36,1) 0%, rgba(130,0,0,0.9696079115239846) 35%, rgba(0,0,0,1) 100%;

//Expanded navigation 
$naviBg:180deg, rgba(143,24,24,1) 0%, rgba(87,1,1,1) 47%, rgba(29,25,25,1) 100%;

//Expanded navigation - avatar BG
$avatarBg:rgb(20, 20, 20);

//Expanded navigation - navi list li
$naviButtonsBg:#8f181836;

//Search Buttons
$searchButtonBtnBg:#8F1818;
$searchButtonInputBg:rgba(255, 255, 255, 0.637);
//pastas
$likesBg:red;
$PastaDescBg:$secondColor;



// --------------- Podstrony -------------------------//